@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;

    --header-background: linear-gradient(to right, #eb4a40, #f59e72);
    --main-panel-background: linear-gradient(white, #fde0c5);
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: white;
    --font-color: black;
    --date-color: gray;
    --warning-color: red;
}

* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row,
.col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.col {
    flex-direction: column;
}

.spacer-0 {
    width: 0;
    height: 0;
}

.spacer-1 {
    width: 5px;
    height: 5px;
}

.spacer-2 {
    width: 10px;
    height: 10px;
}

.spacer-grow {
    flex-grow: 1;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}

.field-content * {
    color: var(--field-color);
}

.field-content:hover {
    background: var(--field-background-hover);
}

.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}

#title {
    font-family: Abel, sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
}

#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
}

#user-panel {
    padding: 0;
}

#signin-user {
    cursor: pointer;
}

/* Main panel */
#main-panel {
    height: 100%;
    background: var(--main-panel-background);
}

/* Chat area */
#my-panel {
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
    background: var(--online-users-panel-background);
    padding: 0;
}

/* Online users panel */
#opponent-panel {
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
    background: var(--online-users-panel-background);
    padding: 0;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: blue;
}

.ship {
    background-color: orange;
}

.miss {
    background-color: lightblue;
}

.hit {
    background-color: red;
}